<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top">
      <div class="title">
        <h1></h1>
      </div>
      <div class="back-button">
        <a href="/index.html" class="back">Back to the web-CV</a>
      </div>
    </div>

    <div class="bitsX">
      <img src="">
      <p></p>
    </div>

    <div class="bitsY">
      <img src="">
      <p></p>
    </div>

    <script src="javascript.js"></script>
</body>
</html>