body{
    font-family: monospace;
}
body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("pictures/piholebg.png.png");
    background-size: cover;
    background-position: center;
    opacity: 0.04;
    z-index: -1;   
}
p{
    font-size: 150%;
}
.top{
    display: flex;
}
.back-button{
    height: 50px;
    width: 20%;
    padding-top:1% ;
    text-align: center;
    background-color: green;
    margin-left: 78%;
    border-radius: 20px;
    margin-top: 1%;
    position: fixed;
}
.back{
    font-size: 200%;
    text-decoration: none;
    color: black;
}
.title{
    background-color: red;
    height: 100px;
    width: 500px;
    border-radius: 30px;
    text-align: center;
}
.title h1{
    font-size: 45px;
}
.bitsX{
    display: flex;
    width: 80%;
    padding: 2%;
    gap: 2%   ;
}
.bitsY{
    width: 80%;
    padding: 2%;
}
.pihole-logo{
    height: 100px;
}
.ubuntu{
    height: 200px;
}

.piinstall{
    height: 200px;
}
.pihole-interface{
    height: 150px;
}
.canyoublockit{
    height: 100px;
}
.addblocktest{
    height: 150px;
}
.blocklists{
    height: 150px;
}