body {
  margin: 0;
  font-family: sans-serif times new roman;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("pictures/bg2.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.07;
  z-index: -1;
}
/* Navbar styles (to work with the script) */
.navbar {
  margin-top: 0px;
  position: fixed;
  background-color: #00bf16;
  border: 0.3vh  solid #000000;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 2px solid #000000;
}
.bookmark-home {
  position: relative;
  height: 70%;
  width: 5%;
  margin-right: 2%;
}
.bookmark {
  width: 100%;
  height: 95%;
  background: red;
  position: absolute;
  /* bookmark */
  clip-path: polygon(0 0, 0 60%, 50% 100%, 100% 60%, 100% 0);
}
.bookmark.active {
  height: 120%;
}
.btn {
  font-size: 250%;
  background-color: red;
  border: none;
  position: absolute;
  padding-left: 25%;
  padding-top: 15%;
}
section {
  height: 82vh;
  padding-top: 18vh;
  padding-left: 1%;
}
.experience {
  height: 200vh;
}
span {
  font-size: 500%;
  font-weight: bold;
  margin: 2%;
}
.menu {
  display: none;
  position: fixed;
  right: 0;
  top: 20%;
  height: 57vh;
  width: 25%;
  background-color: #6cf07b;
  z-index: 2;
  border-left: 0.3vh solid #000000;
  border-top: 0.3vh solid #000000;
}
.menu a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 296%;
  padding: 3.6%;
  border-bottom: 0.3vh solid #000000;
}
.menu.active {
  display: block;
}
/* Home section styles */
.home-text {
  display: flex;
  flex-direction: column;
}
.home-text p {
  font-size: 200%;
}
.home-text h1 {
  font-size: 350%;
}
i {
  font-size: 300%;
  padding-right: 3%;
}
.home-text div {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}
.home-text a {
  text-decoration: none;
  color: rgb(70, 55, 153);
}
/* Brief description styles */
.BD p {
  font-size: 150%;
}
/* Education section styles */
.education p {
  font-size: 150%;
}
/* Expirence section styles */
.experience h1 {
  font-size: 180%;
}
.experience p1 {
  font-size: 130%;
}
.experience ul{ 
  font-size: 110%;
}
/* skills section styles */
.skills h1 {
  font-size: 300%;
}
.skills ul {
  font-size: 200%;
}
.skills-bottom {
  display: flex;
}
.certifications {
  padding-left: 300px;
}
.certifications a {
  font-size: 200%;
  text-decoration: none;
  color: #305472;
}
/*projects*/
.project-list{
  margin-top: 5vh;
  display: flex;
}
.project-list div{
  margin: 1vh;
  border: 0.3vh solid #000000;
  height: 10vh;
  width: 30vh;
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-list a{
  color: #000000;
  font-size: 4vh;
}
.pihole{
  background-color:red;
}
.python-exp{
  background-color: rgb(29, 104, 233);
}
.dualboot{
  background-color: rgb(100, 236, 111);
}
.NAS{
  background-color: orange;
}
.js-exp{
  background-color: yellow;
}