body{
    font-family: monospace;
}
body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("images/pythonbg.png");
    background-size: cover;
    background-position: center;
    opacity: 0.04;
    z-index: -1;   
}
p{
    font-size: 150%;
}
a{
    font-size: 200%;
    margin: 15vh;
}

.top{
    display: flex;
}
.back-button{
    height: 8vh;
    width: 20%;
    padding-top:1% ;
    text-align: center;
    background-color: green;
    margin-left: 78%;
    border-radius: 2vh;
    margin-top: 1%;
    position: fixed;
}
.back{
    font-size: 200%;
    text-decoration: none;
    color: black;
    margin: 0;
    margin-top: 1vh;
}
.title{
    background-color: rgb(29, 104, 233);
    height: 15vh;
    width: 65vh;
    border-radius: 3vh;
    text-align: center;
}
.title h1{
    font-size: 340%;
}
.bitsX{
    display: flex;
    width: 80%;
    padding: 2%;
    gap: 2%   ;
}
.bitsY{
    width: 80%;
    padding: 2%;
}
img{
    height: 30vh;
}

