body {
  font-family: monospace;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("images/pythonbg.png");
  background-size: cover;
  background-position: center;
  opacity: 0.04;
  z-index: -1;
}
p {
  font-size: 150%;
}
a {
  font-size: 200%;
  margin: 15vh;
}

.top {
  display: flex;
  gap: 50%;
}
.back-button {
  height:5.5vh;
  width: 15%;
  padding-top: 1%;
  text-align: center;
  background-color: green;
  border-radius: 2vh;
  margin-top: 1%;
}
.back {
  font-size: 200%;
  color: black;
  margin: 0;
  margin-top: 1vh;
}
.title {
  background-color: rgb(100, 236, 111);
  height: 15vh;
  width: 35%;
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 300%;
  margin-left: 3vh;
}
.bitsX {
  display: flex;
  width: 80%;
  padding: 2%;
  gap: 2%;
}
.bitsY {
  width: 80%;
  padding: 2%;
}
img {
  height: 30vh;
}